{% extends 'base.html' %}


{% block content %}
    <div>
        <script src="/static/js/adminFE.js"></script>

        <header class="mainPageHeading">
            <div class="naming">
                <div class="boardTitle">/admin</div>
                <div class="boardSlogan coffeechan#motd"></div>
            </div>
        </header>

        <main class="panels">
            <div class="leftContent">
                <div class="card">
                    <span class="cardHeader">
                        <span class="blue cardBullet"></span>
                        <p class="cardName">Admin menu</p>
                    </span>
                    <div class="cardContent">
                        <div class="adminList">
                                <span class="adminListItem" id="bAdminListItem">
                                    <i data-feather="menu"></i>
                                    <a>Boards</a>
                                </span>
                            <span class="adminListItem" id="uAdminListItem">
                                   <i data-feather="users"></i>
                                    <a>Users</a>
                                </span>
                            <span class="adminListItem" id="mAdminListItem">
                                    <i data-feather="slash"></i>
                                    <a>Moderation</a>
                                </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rightContent">
                <div class="card">
                    <span class="cardHeader">
                        <span class="red cardBullet"></span>
                        <p class="cardName" id="adminPanelHeader">Actions</p>
                    </span>

                    <div class="cardContent statistics">
                        Some statistics
                    </div>

                    <div class="cardContent boardManager">
                        <div>
                            <button id="boardMgrCreateNewCategory">+ Create new category</button>
                            <button id="boardMgrCreateNewBoard">+ Create new board</button>
                        </div>

                        <div class="card" id="boardMgrCreateCategoryForm" style="margin-left: 12px">
                            <form method="post" class="cardContent">
                                {{ n_b_form.hidden_tag() }}
                                {{ n_c_form.category_name }}
                                {{ n_c_form.create_category }}
                            </form>
                        </div>

                        <div class="card" id="boardMgrCreateBoardForm" style="margin-left: 12px;">

                            <form action="" method="post" class="cardContent" style="flex-wrap: wrap">
                                {{ n_b_form.hidden_tag() }}
                                {{ n_b_form.board_name }}
                                {{ n_b_form.board_description }}
                                {{ n_b_form.board_tag }}
                                {{ n_b_form.board_category }}

                                <div class="togglers">
                                    <span class="optionToggler">
                                            NSFW board
                                            <label class="switch">
                                                {{ n_b_form.is_nsfw }}
                                                <span class="slider round"></span>
                                            </label>
                                    </span>

                                    <span class="optionToggler">
                                            Locked
                                            <label class="switch">
                                                {{ n_b_form.is_locked }}
                                                <span class="slider round"></span>
                                            </label>
                                    </span>
                                </div>

                                {{ n_b_form.create_board }}
                            </form>

{#                                <!-- Unsupported for now. -->#}
{#                                <!-- <div>#}
{#                                    <label for="bSplash">Board header: </label><input type="file" name="header" id="bSplash">#}
{#                                </div> -->#}
{#                                <!-- What does this mean? -->#}
                        </div>
{#                            </form>#}
                    </div>
                </div>
                <div class="cardContent userManager">
                        Manage users
                    </div>
                <div class="cardContent banManager">
                        Manage bans
                    </div>
            </div>
        </main>
    </div>

    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

{% endblock %}

