{% extends "base.html" %}
{% block title %}Flaskchan{% endblock %}

{% block content %}
    <div>
        <header class="mainPageHeading">
            <div class="naming">
                <div class="boardTitle">{{ title }}</div>
                <div class="boardSlogan">{{ motd }}</div>
            </div>
            <div class="boardSplash">
                <a class="boardSplashLink">
                    <img src="/reactive-flaskchan/src/static/boardSplash.jpg" alt="BoardSplash" class="boardSplashImage">
                    <!-- <span class="boardSplashName">/soc/</span> -->
                </a>
            </div>
        </header>

        <main class="panels">
            <div class="leftContent">
                <div class="card">
                    <span class="cardHeader">
                        <span class="blue cardBullet"></span>
                        <p class="cardName">Picture of the day</p>
                        <a class="cardNavigate">on /a/</a>
                    </span>
                    <div class="cardContent">
                        <img src="/reactive-flaskchan/src/static/girl.jpg">
                    </div>
                </div>
                <div class="card">
                    <span class="cardHeader">
                        <span class="green cardBullet"></span>
                        <p class="cardName">Thread of the day</p>
                        <a class="cardNavigate">on /a/</a>
                    </span>
                    <div class="cardContent ToTD">
                            <div class="postImages">
                                <img src="/reactive-flaskchan/src/static/girl.jpg" alt="Post picture">
                            </div>
                            <div class="postTextContent mTText">
                                <p class="postTitle">
                                    LOREM IPSUM! DOLOR SIT AMET.
                                </p>
                                <p class="postMessage">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim libero est, sed commodo tellus luctus a. Quisque volutpat porta mi, sit amet semper lorem tincidunt et. Curabitur est dui, tempor a nulla eu.
                                </p>
                            </div>
                    </div>
                </div>
                    <div id="boards">
                        <div class="card">
                            <span class="cardHeader">
                                <span class="yellow cardBullet"></span>
                                <p class="cardName">Boards list</p>
                            </span>
                                <div class="boardsList cardContent">
                                    {% for category in categories %}
                                    <div class="boardsListCategory">
                                        <p class="">{{ category[1] }}</p>
                                    </div>
                                        {% for list_board in list_boards %}
                                            {% if list_board[2] == category[0] %}
                                                <a href="/{{ list_board[1] }}" class="boardTagSlashed">
                                                    <span class="boardTagSlashed">/{{ list_board[1] }}/</span>
                                                    <span>— {{ list_board[6] }}</span>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
            </div>
            <div class="rightContent">
                <div class="card" style="margin-right: 0; flex-grow: 1;">
                    <span class="cardHeader">
                        <span class="red cardBullet"></span>
                        <p class="cardName">Latest posts</p>
                    </span>
                    <div class="cardContent">
                        <div class="postContainer">
                            {% for p in p_latest %}
                                <div class="postCard">
                                    <div class="cardContent postContent">
                                        <div class="postImages">
                                            <img src="/reactive-flaskchan/src/static/girl.jpg" alt="Post picture">
                                        </div>
                                        <div class="postTextContent">
                                            <div class="postTitle">
                                                {{p[1]}}
                                            </div>
                                            <div class="postMessage">
                                                {{p[4]}}
                                            </div>
                                            <div class="postReplies">
                                                <div class="postReplyID">
                                                    >>123123123
                                                </div>
                                                <div class="postReplyID">
                                                    >>123123123
                                                </div>
                                                <div class="postReplyID">
                                                    >>123123123
                                                </div>
                                                <div class="postReplyID">
                                                    >>123123123
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
